@media screen and (min-width:1024px) {
	body {
		font-size: 100%;
	}
}

body {
  text-align: center;
}
div {
	font-family: 'Architects Daughter', cursive;
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 50px;
}
.body_center {
  text-align: center;
  width: 650px;
  margin: 100px auto;
}

form {
  display: inline-block;
}

input[type=text] {
  display: inline-block;
  width: 400px;
  padding: 12px 10px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  font-family: FontAwesome, "Architects Daughter";
  font-size: 16px;
}

#button{
  display: inline-block;
  height: 47px;
  width: 80px;
	background-color: #ff3333;
	font-family: "Architects Daughter";
  font-size: 18px;
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
	margin: 2px;
  cursor: pointer;
}

#button:hover {
  background-color: #ff0c0c;
}
.items-list {
  text-align: left;
}
.list {
	font-family: "Architects Daughter";
	color:#ff3333;
  overflow: auto;
	list-style: none;
	position: relative;
}
li::before {
    font-family: 'FontAwesome';
    content: '\f096';
    margin: 0 5px 0 -15px;
}

li {
	position: relative;
  border-bottom: 1px solid gray;
}

li.done::before {
		font-family: 'FontAwesome';
    content: '\f046';
    margin: 0 5px 0 -15px;
		text-decoration: none;
}

li.done {
	text-decoration: line-through;
}

/* ToolTip CSS classses */
.tooltip {
display: inline-block;
}
.tooltip .tooltiptext {
    margin-left: -200px;
    visibility: hidden;
    background-color: #FFF;
    border-radius:4px;
    border: 1px solid #dddddd;
    position: absolute;
    z-index: 1;
    padding: 10px;
    margin-top : 0px; /* according to application */
   	opacity: 0;
    transition: opacity 1s;
		color: #a8a8a8;
		font-size: 12px;
		line-height: normal;
}
/* .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
		bottom: -webkit-calc(100% - 1px); /*may require prefix for old browser support /
		bottom: calc(100% - 1px); /*i.e. half the height /
    left: 50%; /* To the left of the tooltip  /
		height: 5px;
		width: 5px;
		transform: rotate(45deg);
    border-width: inherit;
    border-style: solid;
    border-color: #dddddd transparent transparent #dddddd;

} */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* .item::before {
    font-family: 'FontAwesome';
    content: '\f096';
    margin: 0 5px 0 -15px;
}

.item {
  border-bottom: 1px solid gray;
} */
